In [1]:
# импортируем необходимые библиотеки, классы и функции
import pandas as pd
import numpy as np
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'retina'
from statsmodels.tsa.ar_model import AutoReg
from sklearn.linear_model import HuberRegressor

from statsmodels.tsa.api import VAR
import cp
# отключаем предупреждения
import warnings
warnings.filterwarnings('ignore')
# настроим удобное отображение графиков и таблиц
%matplotlib inline
plt.rc('figure', figsize=(18, 5))
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.options.display.max_rows = 20
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier
import time
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score
import itertools
from sklearn.neural_network import MLPClassifier
from sklearn.svm import LinearSVR
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.neural_network import MLPClassifier


from sklearn.ensemble import BaggingClassifier


from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import ExtraTreesClassifier

from sklearn.ensemble import GradientBoostingClassifier

from sklearn.naive_bayes import BernoulliNB
import datetime
from datetime import timedelta
from pandas.tseries.offsets import BDay
from IPython.display import clear_output

In [25]:
df = pd.read_csv('D:\\Michael\\Data\\ML new\\Fundamental SP500.csv')
df

,HDSymbolId,Ticker,IsDelisted,TradeDate,TradeClose,Name,TotalSharesOutstanding,AdjTotalSharesOutstanding,MarketCap,EnterpriseValue,...,SalesToPrice,DividendToPrice,DividendPerShare,Revenue,EBITDA,OperatingCashFlow,FreeCashFlow,NetDebt,BookEquity,NetIncome
0,22287209,IR,0,2024-03-27,95.26,QTR,403435985.00,403435985.00,38431313920.00,39559413920.00,...,0.05,0.00,0.02,1821400000.00,431500000.00,581400000.00,551800000.00,1128100000.00,9783800000.00,229800000.00
1,20383,HES,0,2024-03-27,150.55,QTR,307152064.00,307152064.00,46241742848.00,53166742848.00,...,0.07,0.00,0.44,3011000000.00,1270000000.00,1344000000.00,1280000000.00,6925000000.00,8986000000.00,413000000.00
2,13738,IAC,0,2024-03-27,52.83,QTR,85965621.00,85965621.00,4541563904.00,5267272904.00,...,0.35,NaN,NaN,1570645000.00,606235000.00,46884000.00,32078000.00,725709000.00,6077861000.00,327750000.00
3,22088,JCI,0,2024-03-27,64.87,QTR,681477046.00,681477046.00,44207419392.00,53015419392.00,...,0.14,0.01,0.37,6094000000.00,604000000.00,-246000000.00,-338000000.00,8808000000.00,16698000000.00,374000000.00
4,21569,PWR,0,2024-03-27,259.75,QTR,145748976.00,145748976.00,37858295808.00,40766753808.00,...,0.15,0.00,0.09,5783948000.00,411432000.00,1003538000.00,894132000.00,2908458000.00,6272241000.00,210908000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5596315,21203,JWN,0,2014-02-04,55.38,TTM,190405729.00,190405729.00,10544669696.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5596316,21203,JWN,0,2014-02-04,55.38,ANN,190405729.00,190405729.00,10544669696.00,12848669696.00,...,1.28,NaN,NaN,13506000000.00,1831000000.00,1220000000.00,359000000.00,2304000000.00,2440000000.00,720000000.00
5596317,21203,JWN,0,2014-02-03,55.71,QTR,190405729.00,190405729.00,10607503360.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5596318,21203,JWN,0,2014-02-03,55.71,TTM,190405729.00,190405729.00,10607503360.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5596319,21203,JWN,0,2014-02-03,55.71,ANN,190405729.00,190405729.00,10607503360.00,12911503360.00,...,1.27,NaN,NaN,13506000000.00,1831000000.00,1220000000.00,359000000.00,2304000000.00,2440000000.00,720000000.00

In [26]:
df['merge'] = df.Ticker + df.TradeDate
df

,HDSymbolId,Ticker,IsDelisted,TradeDate,TradeClose,Name,TotalSharesOutstanding,AdjTotalSharesOutstanding,MarketCap,EnterpriseValue,...,DividendToPrice,DividendPerShare,Revenue,EBITDA,OperatingCashFlow,FreeCashFlow,NetDebt,BookEquity,NetIncome,merge
0,22287209,IR,0,2024-03-27,95.26,QTR,403435985.00,403435985.00,38431313920.00,39559413920.00,...,0.00,0.02,1821400000.00,431500000.00,581400000.00,551800000.00,1128100000.00,9783800000.00,229800000.00,IR2024-03-27
1,20383,HES,0,2024-03-27,150.55,QTR,307152064.00,307152064.00,46241742848.00,53166742848.00,...,0.00,0.44,3011000000.00,1270000000.00,1344000000.00,1280000000.00,6925000000.00,8986000000.00,413000000.00,HES2024-03-27
2,13738,IAC,0,2024-03-27,52.83,QTR,85965621.00,85965621.00,4541563904.00,5267272904.00,...,NaN,NaN,1570645000.00,606235000.00,46884000.00,32078000.00,725709000.00,6077861000.00,327750000.00,IAC2024-03-27
3,22088,JCI,0,2024-03-27,64.87,QTR,681477046.00,681477046.00,44207419392.00,53015419392.00,...,0.01,0.37,6094000000.00,604000000.00,-246000000.00,-338000000.00,8808000000.00,16698000000.00,374000000.00,JCI2024-03-27
4,21569,PWR,0,2024-03-27,259.75,QTR,145748976.00,145748976.00,37858295808.00,40766753808.00,...,0.00,0.09,5783948000.00,411432000.00,1003538000.00,894132000.00,2908458000.00,6272241000.00,210908000.00,PWR2024-03-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5596315,21203,JWN,0,2014-02-04,55.38,TTM,190405729.00,190405729.00,10544669696.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JWN2014-02-04
5596316,21203,JWN,0,2014-02-04,55.38,ANN,190405729.00,190405729.00,10544669696.00,12848669696.00,...,NaN,NaN,13506000000.00,1831000000.00,1220000000.00,359000000.00,2304000000.00,2440000000.00,720000000.00,JWN2014-02-04
5596317,21203,JWN,0,2014-02-03,55.71,QTR,190405729.00,190405729.00,10607503360.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JWN2014-02-03
5596318,21203,JWN,0,2014-02-03,55.71,TTM,190405729.00,190405729.00,10607503360.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JWN2014-02-03
5596319,21203,JWN,0,2014-02-03,55.71,ANN,190405729.00,190405729.00,10607503360.00,12911503360.00,...,NaN,NaN,13506000000.00,1831000000.00,1220000000.00,359000000.00,2304000000.00,2440000000.00,720000000.00,JWN2014-02-03

In [27]:
df = df.sort_values(by=['IsDelisted'])
df

,HDSymbolId,Ticker,IsDelisted,TradeDate,TradeClose,Name,TotalSharesOutstanding,AdjTotalSharesOutstanding,MarketCap,EnterpriseValue,...,DividendToPrice,DividendPerShare,Revenue,EBITDA,OperatingCashFlow,FreeCashFlow,NetDebt,BookEquity,NetIncome,merge
0,22287209,IR,0,2024-03-27,95.26,QTR,403435985.00,403435985.00,38431313920.00,39559413920.00,...,0.00,0.02,1821400000.00,431500000.00,581400000.00,551800000.00,1128100000.00,9783800000.00,229800000.00,IR2024-03-27
3576456,2501,BIO,0,2018-06-05,291.22,ANN,29804690.00,29804690.00,8679721984.00,8730898984.00,...,NaN,NaN,2160153000.00,150519000.00,103885000.00,-7447000.00,51177000.00,2930250000.00,122249000.00,BIO2018-06-05
3576455,19607,CLX,0,2018-06-05,121.40,ANN,129507979.00,129507979.00,15722268672.00,17499268672.00,...,0.03,3.47,5973000000.00,1282000000.00,868000000.00,637000000.00,1777000000.00,542000000.00,701000000.00,CLX2018-06-05
3576453,21550,PSA,0,2018-06-05,212.88,ANN,174215770.00,174215770.00,37087055872.00,38085001872.00,...,0.03,6.00,2668528000.00,1909433000.00,1975679000.00,1853480000.00,997946000.00,8940009000.00,1442217000.00,PSA2018-06-05
3576450,22290,WDC,0,2018-06-05,85.90,ANN,299242061.00,299242061.00,25704892416.00,32501892416.00,...,0.02,1.97,19093000000.00,3744000000.00,3437000000.00,2859000000.00,6797000000.00,11418000000.00,397000000.00,WDC2018-06-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4120339,22088,JCI,1,2017-07-11,43.08,TTM,932398758.00,932398758.00,40167739392.00,53980739392.00,...,NaN,NaN,NaN,4291000000.00,81999990.00,NaN,13813000000.00,NaN,NaN,JCI2017-07-11
4120332,12028,DISH,1,2017-07-11,64.78,ANN,226812205.00,226812205.00,14692894720.00,25848069720.00,...,NaN,NaN,NaN,3312601000.00,2802152000.00,NaN,11155175000.00,NaN,NaN,DISH2017-07-11
1248715,19806,DIS,1,2022-02-28,148.46,QTR,1820633408.00,1820633408.00,270291238912.00,309979238912.00,...,NaN,NaN,NaN,3172000000.00,-201000000.00,NaN,39688000000.00,NaN,NaN,DIS2022-02-28
1248689,7131387,FBIN,1,2022-03-01,83.85,ANN,134174304.00,134174304.00,11250514944.00,13488814944.00,...,NaN,NaN,NaN,1153600000.00,688700000.00,NaN,2238300000.00,NaN,NaN,FBIN2022-03-01
2798159,19806,DIS,1,2019-09-11,136.19,QTR,1801379029.00,1801379029.00,245329821696.00,296835821696.00,...,NaN,NaN,NaN,3870000000.00,-1393000000.00,NaN,51506000000.00,NaN,NaN,DIS2019-09-11

In [28]:
dfqtr = df[df.Name == 'QTR']

dfqtr.drop_duplicates(subset=['merge'], keep='first',inplace=True)
dfqtr.to_csv('D:\\Michael\\Data\\ML new\\Fundamental SP500 QTR.csv', index=False)
dfqtr

,HDSymbolId,Ticker,IsDelisted,TradeDate,TradeClose,Name,TotalSharesOutstanding,AdjTotalSharesOutstanding,MarketCap,EnterpriseValue,...,DividendToPrice,DividendPerShare,Revenue,EBITDA,OperatingCashFlow,FreeCashFlow,NetDebt,BookEquity,NetIncome,merge
0,22287209,IR,0,2024-03-27,95.26,QTR,403435985.00,403435985.00,38431313920.00,39559413920.00,...,0.00,0.02,1821400000.00,431500000.00,581400000.00,551800000.00,1128100000.00,9783800000.00,229800000.00,IR2024-03-27
3576477,21571,DGX,0,2018-06-05,106.72,QTR,135817201.00,135817201.00,14494411776.00,18229411776.00,...,0.00,0.50,1884000000.00,344000000.00,180000000.00,107000000.00,3735000000.00,5030000000.00,177000000.00,DGX2018-06-05
3576476,19096,AMT,0,2018-06-05,138.91,QTR,441659919.00,441659919.00,61350977536.00,81597577536.00,...,0.01,0.75,1741800000.00,900300000.00,791799900.00,593300000.00,20246600000.00,6334200000.00,285200000.00,AMT2018-06-05
3576475,21004,MAA,0,2018-06-05,95.29,QTR,113791411.00,113791411.00,10843183104.00,19731968104.00,...,0.01,0.92,1158051000.00,372271000.00,305408000.00,201858000.00,8888785000.00,6291242000.00,49019000.00,MAA2018-06-05
3576474,21735,SRE,0,2018-06-05,102.81,QTR,264137837.00,264137837.00,27156011008.00,53316011008.00,...,0.01,0.87,2598000000.00,1249000000.00,966000000.00,-69000000.00,26160000000.00,15844000000.00,358000000.00,SRE2018-06-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4120855,19689,COO,1,2017-07-11,244.53,QTR,48856777.00,48856777.00,11946947584.00,13212547584.00,...,NaN,NaN,NaN,163400000.00,131700000.00,NaN,1265600000.00,NaN,NaN,COO2017-07-11
4121054,12028,DISH,1,2017-07-11,64.78,QTR,226812205.00,226812205.00,14692894720.00,29575029720.00,...,NaN,NaN,NaN,479388000.00,556329100.00,NaN,14882135000.00,NaN,NaN,DISH2017-07-11
4120110,19015,ALB,1,2017-07-11,112.95,QTR,110472735.00,110472735.00,12477895680.00,13199527680.00,...,0.00,0.32,737258000.00,175585000.00,-137040000.00,-180662000.00,721632000.00,3760830000.00,103333000.00,ALB2017-07-11
1249009,19015,ALB,1,2022-02-28,195.89,QTR,117036615.00,117036615.00,22926303232.00,24881270232.00,...,0.00,0.39,894204000.00,79435000.00,-146329000.00,-447257000.00,1954967000.00,5625266000.00,-3824000.00,ALB2022-02-28
1248678,21198,NBLRF,1,2022-03-01,8.70,QTR,60172000.00,60172000.00,523496384.00,1090358384.00,...,NaN,NaN,NaN,152952000.00,27588000.00,NaN,566862000.00,NaN,NaN,NBLRF2022-03-01

In [56]:
dfttm = df[df.Name == 'TTM']

dfttm.drop_duplicates(subset=['merge'], keep='first',inplace=True)
dfttm.to_csv('D:\\Michael\\Data\\ML new\\Fundamental SP500 TTM.csv', index=False)
dfttm

,HDSymbolId,Ticker,IsDelisted,TradeDate,TradeClose,Name,TotalSharesOutstanding,AdjTotalSharesOutstanding,MarketCap,EnterpriseValue,...,DividendToPrice,DividendPerShare,Revenue,EBITDA,OperatingCashFlow,FreeCashFlow,NetDebt,BookEquity,NetIncome,merge
3576445,18216,UAL,0,2018-06-05,69.32,TTM,279410451.00,279410451.00,19368732672.00,30785732672.00,...,NaN,NaN,38348000000.00,5956000000.00,4599000000.00,313000000.00,11417000000.00,8336000000.00,2182000000.00,UAL2018-06-05
3576440,2501,BIO,0,2018-06-05,291.22,TTM,29804690.00,29804690.00,8679721984.00,8707496984.00,...,NaN,NaN,2211621000.00,968540000.00,200451000.00,101267000.00,27775000.00,4488091000.00,766610000.00,BIO2018-06-05
3576439,19607,CLX,0,2018-06-05,121.40,TTM,129507979.00,129507979.00,15722268672.00,17403268672.00,...,0.03,3.47,6080000000.00,1288000000.00,960000000.00,764000000.00,1681000000.00,837000000.00,807000000.00,CLX2018-06-05
3576406,20751,LVS,0,2018-06-05,78.70,TTM,789187996.00,789187996.00,62109089792.00,69133089792.00,...,0.04,2.95,13355000000.00,4385000000.00,4977000000.00,4104000000.00,7024000000.00,7363000000.00,3782000000.00,LVS2018-06-05
3576405,19985,ESS,0,2018-06-05,240.92,TTM,66046207.00,66046207.00,15911852032.00,21508868032.00,...,0.03,7.10,1375750000.00,1194544000.00,811236000.00,790086000.00,5597016000.00,6368773000.00,350734000.00,ESS2018-06-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4120849,20338,PEAK,1,2017-07-11,30.95,TTM,468963146.00,468963146.00,14514409472.00,21388938472.00,...,NaN,NaN,NaN,1572947000.00,978807900.00,NaN,6874529000.00,NaN,NaN,PEAK2017-07-11
4120835,22361,WOR,1,2017-07-11,51.96,TTM,63250653.00,63250653.00,3286503936.00,3587032936.00,...,NaN,NaN,NaN,400294000.00,335672000.00,NaN,300529000.00,NaN,NaN,WOR2017-07-11
4121070,12028,DISH,1,2017-07-11,64.78,TTM,226812205.00,226812205.00,14692894720.00,29575029720.00,...,NaN,NaN,NaN,2841816000.00,2742157000.00,NaN,14882135000.00,NaN,NaN,DISH2017-07-11
4120142,19015,ALB,1,2017-07-11,112.95,TTM,110472735.00,110472735.00,12477895680.00,13199527680.00,...,0.01,1.27,2601799000.00,1153435000.00,426447000.00,231537000.00,721632000.00,3760830000.00,884856000.00,ALB2017-07-11
1248682,21198,NBLRF,1,2022-03-01,8.70,TTM,60172000.00,60172000.00,523496384.00,1090358384.00,...,NaN,NaN,NaN,185622000.00,51616000.00,NaN,566862000.00,NaN,NaN,NBLRF2022-03-01

In [57]:
dfann = df[df.Name == 'ANN']

dfann.drop_duplicates(subset=['merge'], keep='first',inplace=True)
dfann.to_csv('D:\\Michael\\Data\\ML new\\Fundamental SP500 ANN.csv', index=False)
dfann

,HDSymbolId,Ticker,IsDelisted,TradeDate,TradeClose,Name,TotalSharesOutstanding,AdjTotalSharesOutstanding,MarketCap,EnterpriseValue,...,DividendToPrice,DividendPerShare,Revenue,EBITDA,OperatingCashFlow,FreeCashFlow,NetDebt,BookEquity,NetIncome,merge
3576456,2501,BIO,0,2018-06-05,291.22,ANN,29804690.00,29804690.00,8679721984.00,8730898984.00,...,NaN,NaN,2160153000.00,150519000.00,103885000.00,-7447000.00,51177000.00,2930250000.00,122249000.00,BIO2018-06-05
3576455,19607,CLX,0,2018-06-05,121.40,ANN,129507979.00,129507979.00,15722268672.00,17499268672.00,...,0.03,3.47,5973000000.00,1282000000.00,868000000.00,637000000.00,1777000000.00,542000000.00,701000000.00,CLX2018-06-05
3576453,21550,PSA,0,2018-06-05,212.88,ANN,174215770.00,174215770.00,37087055872.00,38085001872.00,...,0.03,6.00,2668528000.00,1909433000.00,1975679000.00,1853480000.00,997946000.00,8940009000.00,1442217000.00,PSA2018-06-05
3576450,22290,WDC,0,2018-06-05,85.90,ANN,299242061.00,299242061.00,25704892416.00,32501892416.00,...,0.02,1.97,19093000000.00,3744000000.00,3437000000.00,2859000000.00,6797000000.00,11418000000.00,397000000.00,WDC2018-06-05
3576449,21968,TDY,0,2018-06-05,208.46,ANN,35762990.00,35762990.00,7455153664.00,8457153664.00,...,NaN,NaN,2603800000.00,435500000.00,374700000.00,316200000.00,1002000000.00,1947300000.00,227200000.00,TDY2018-06-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4120843,22361,WOR,1,2017-07-11,51.96,ANN,63250653.00,63250653.00,3286503936.00,3587032936.00,...,NaN,NaN,NaN,400294000.00,335672000.00,NaN,300529000.00,NaN,NaN,WOR2017-07-11
4121118,12028,DISH,1,2017-07-11,64.78,ANN,226812205.00,226812205.00,14692894720.00,25848069720.00,...,NaN,NaN,NaN,3312601000.00,2802152000.00,NaN,11155175000.00,NaN,NaN,DISH2017-07-11
4120913,20338,PEAK,1,2017-07-11,30.95,ANN,468963146.00,468963146.00,14514409472.00,23169112472.00,...,NaN,NaN,NaN,1664731000.00,1214131000.00,NaN,8654703000.00,NaN,NaN,PEAK2017-07-11
4120174,19015,ALB,1,2017-07-11,112.95,ANN,110472735.00,110472735.00,12477895680.00,12577401680.00,...,0.01,1.27,2677203000.00,966107000.00,733403100.00,536749000.00,99506000.00,3795062000.00,643675000.00,ALB2017-07-11
1248685,21198,NBLRF,1,2022-03-01,8.70,ANN,60172000.00,60172000.00,523496384.00,1090358384.00,...,NaN,NaN,NaN,185622000.00,51616000.00,NaN,566862000.00,NaN,NaN,NBLRF2022-03-01

In [32]:
dfttm = dfttm.drop(columns=['HDSymbolId','Ticker','TradeDate','TradeClose','Name','TotalSharesOutstanding','AdjTotalSharesOutstanding',
                            'MarketCap', 'IsDelisted'])
dfttm

,EnterpriseValue,EVToEBITDA,EVToRevenue,EPS,PriceToEPS,PriceToBook,PEG,PriceToFreeCashFlow,PriceToOperatingCashFlow,BookToPrice,...,DividendToPrice,DividendPerShare,Revenue,EBITDA,OperatingCashFlow,FreeCashFlow,NetDebt,BookEquity,NetIncome,merge
3576445,30785732672.00,5.17,0.80,7.37,9.41,2.32,0.61,61.88,4.21,0.43,...,NaN,NaN,38348000000.00,5956000000.00,4599000000.00,313000000.00,11417000000.00,8336000000.00,2182000000.00,UAL2018-06-05
3576440,8707496984.00,8.99,3.94,25.47,11.43,1.93,0.00,85.71,43.30,0.52,...,NaN,NaN,2211621000.00,968540000.00,200451000.00,101267000.00,27775000.00,4488091000.00,766610000.00,BIO2018-06-05
3576439,17403268672.00,13.51,2.86,6.13,19.82,18.78,0.93,20.58,16.38,0.05,...,0.03,3.47,6080000000.00,1288000000.00,960000000.00,764000000.00,1681000000.00,837000000.00,807000000.00,CLX2018-06-05
3576406,69133089792.00,15.77,5.18,4.78,16.46,8.44,0.15,15.13,12.48,0.12,...,0.04,2.95,13355000000.00,4385000000.00,4977000000.00,4104000000.00,7024000000.00,7363000000.00,3782000000.00,LVS2018-06-05
3576405,21508868032.00,18.01,15.63,5.32,45.30,2.50,-1.42,20.14,19.61,0.40,...,0.03,7.10,1375750000.00,1194544000.00,811236000.00,790086000.00,5597016000.00,6368773000.00,350734000.00,ESS2018-06-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4120849,21388938472.00,13.60,12.03,1.47,21.02,2.55,0.02,24.70,14.83,NaN,...,NaN,NaN,NaN,1572947000.00,978807900.00,NaN,6874529000.00,NaN,NaN,PEAK2017-07-11
4120835,3587032936.00,8.96,1.19,3.23,16.07,3.45,0.38,12.30,9.79,NaN,...,NaN,NaN,NaN,400294000.00,335672000.00,NaN,300529000.00,NaN,NaN,WOR2017-07-11
4121070,29575029720.00,10.41,2.00,4.87,13.30,2.81,0.57,6.50,5.36,NaN,...,NaN,NaN,NaN,2841816000.00,2742157000.00,NaN,14882135000.00,NaN,NaN,DISH2017-07-11
4120142,13199527680.00,11.44,5.07,7.82,14.44,3.32,0.03,53.89,29.26,0.30,...,0.01,1.27,2601799000.00,1153435000.00,426447000.00,231537000.00,721632000.00,3760830000.00,884856000.00,ALB2017-07-11
1248682,1090358384.00,5.87,1.42,1.69,5.13,0.35,0.05,-5.09,10.14,NaN,...,NaN,NaN,NaN,185622000.00,51616000.00,NaN,566862000.00,NaN,NaN,NBLRF2022-03-01

In [34]:
dfann = dfann.drop(columns=['HDSymbolId','Ticker','TradeDate','TradeClose','Name','TotalSharesOutstanding','AdjTotalSharesOutstanding',
                            'MarketCap', 'IsDelisted'])
dfann

,EnterpriseValue,EVToEBITDA,EVToRevenue,EPS,PriceToEPS,PriceToBook,PEG,PriceToFreeCashFlow,PriceToOperatingCashFlow,BookToPrice,...,DividendToPrice,DividendPerShare,Revenue,EBITDA,OperatingCashFlow,FreeCashFlow,NetDebt,BookEquity,NetIncome,merge
3576456,8730898984.00,58.01,4.04,4.07,71.55,2.96,0.22,-1165.53,83.55,0.34,...,NaN,NaN,2160153000.00,150519000.00,103885000.00,-7447000.00,51177000.00,2930250000.00,122249000.00,BIO2018-06-05
3576455,17499268672.00,13.65,2.93,5.33,22.78,29.01,2.73,24.68,18.11,0.03,...,0.03,3.47,5973000000.00,1282000000.00,868000000.00,637000000.00,1777000000.00,542000000.00,701000000.00,CLX2018-06-05
3576453,38085001872.00,19.95,14.27,6.73,31.63,4.15,-26.93,20.01,18.77,0.24,...,0.03,6.00,2668528000.00,1909433000.00,1975679000.00,1853480000.00,997946000.00,8940009000.00,1442217000.00,PSA2018-06-05
3576450,32501892416.00,8.68,1.70,1.34,64.10,2.25,-0.82,8.99,7.48,0.44,...,0.02,1.97,19093000000.00,3744000000.00,3437000000.00,2859000000.00,6797000000.00,11418000000.00,397000000.00,WDC2018-06-05
3576449,8457153664.00,19.42,3.25,6.26,33.30,3.83,2.01,23.58,19.90,0.26,...,NaN,NaN,2603800000.00,435500000.00,374700000.00,316200000.00,1002000000.00,1947300000.00,227200000.00,TDY2018-06-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4120843,3587032936.00,8.96,1.19,3.23,16.07,3.45,0.38,12.30,9.79,NaN,...,NaN,NaN,NaN,400294000.00,335672000.00,NaN,300529000.00,NaN,NaN,WOR2017-07-11
4121118,25848069720.00,7.80,1.71,6.48,10.00,3.17,0.11,6.68,5.24,NaN,...,NaN,NaN,NaN,3312601000.00,2802152000.00,NaN,11155175000.00,NaN,NaN,DISH2017-07-11
4120913,23169112472.00,13.92,10.88,1.34,23.12,2.62,0.11,19.22,11.95,NaN,...,NaN,NaN,NaN,1664731000.00,1214131000.00,NaN,8654703000.00,NaN,NaN,PEAK2017-07-11
4120174,12577401680.00,13.02,4.70,5.68,19.89,3.29,0.22,23.25,17.01,0.30,...,0.01,1.27,2677203000.00,966107000.00,733403100.00,536749000.00,99506000.00,3795062000.00,643675000.00,ALB2017-07-11
1248685,1090358384.00,5.87,1.42,1.69,5.13,0.35,0.05,-5.09,10.14,NaN,...,NaN,NaN,NaN,185622000.00,51616000.00,NaN,566862000.00,NaN,NaN,NBLRF2022-03-01

In [35]:
df1 = pd.merge(dfqtr,dfttm, how='left',on=['merge'])
# df1.drop_duplicates(inplace=True) 
df1

,HDSymbolId,Ticker,IsDelisted,TradeDate,TradeClose,Name,TotalSharesOutstanding,AdjTotalSharesOutstanding,MarketCap,EnterpriseValue_x,...,SalesToPrice_y,DividendToPrice_y,DividendPerShare_y,Revenue_y,EBITDA_y,OperatingCashFlow_y,FreeCashFlow_y,NetDebt_y,BookEquity_y,NetIncome_y
0,22287209,IR,0,2024-03-27,95.26,QTR,403435985.00,403435985.00,38431313920.00,39559413920.00,...,0.18,0.00,0.08,6876101000.00,1542900000.00,1377400000.00,1272000000.00,1128100000.00,9783800000.00,778700000.00
1,21571,DGX,0,2018-06-05,106.72,QTR,135817201.00,135817201.00,14494411776.00,18229411776.00,...,0.53,0.02,1.85,7694000000.00,1438000000.00,1159000000.00,876000000.00,3735000000.00,5030000000.00,785000000.00
2,19096,AMT,0,2018-06-05,138.91,QTR,441659919.00,441659919.00,61350977536.00,81597577536.00,...,0.11,0.02,2.69,6789462000.00,3688922000.00,3034303000.00,2200341000.00,20246600000.00,6334200000.00,1208020000.00
3,21004,MAA,0,2018-06-05,95.29,QTR,113791411.00,113791411.00,10843183104.00,19731968104.00,...,0.32,0.04,3.58,3458209000.00,2994360000.00,1346402000.00,586772000.00,8888785000.00,6291242000.00,1709794000.00
4,21735,SRE,0,2018-06-05,102.81,QTR,264137837.00,264137837.00,27156011008.00,53316011008.00,...,0.36,0.03,3.21,9676000000.00,3665000000.00,3587000000.00,-405000000.00,26160000000.00,15844000000.00,173000000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465889,19689,COO,1,2017-07-11,244.53,QTR,48856777.00,48856777.00,11946947584.00,13212547584.00,...,NaN,NaN,NaN,NaN,570733000.00,562350000.00,NaN,1265600000.00,NaN,NaN
1465890,12028,DISH,1,2017-07-11,64.78,QTR,226812205.00,226812205.00,14692894720.00,29575029720.00,...,NaN,NaN,NaN,NaN,2841816000.00,2742157000.00,NaN,14882135000.00,NaN,NaN
1465891,19015,ALB,1,2017-07-11,112.95,QTR,110472735.00,110472735.00,12477895680.00,13199527680.00,...,0.21,0.01,1.27,2601799000.00,1153435000.00,426447000.00,231537000.00,721632000.00,3760830000.00,884856000.00
1465892,19015,ALB,1,2022-02-28,195.89,QTR,117036615.00,117036615.00,22926303232.00,24881270232.00,...,0.15,0.01,1.56,3327957000.00,407118000.00,344257000.00,-609410000.00,1954967000.00,5625266000.00,123672000.00
1465893,21198,NBLRF,1,2022-03-01,8.70,QTR,60172000.00,60172000.00,523496384.00,1090358384.00,...,NaN,NaN,NaN,NaN,185622000.00,51616000.00,NaN,566862000.00,NaN,NaN

In [36]:
df2 = pd.merge(df1,dfann, how='left',on=['merge'])
# df1.drop_duplicates(inplace=True) 
df2

,HDSymbolId,Ticker,IsDelisted,TradeDate,TradeClose,Name,TotalSharesOutstanding,AdjTotalSharesOutstanding,MarketCap,EnterpriseValue_x,...,SalesToPrice,DividendToPrice,DividendPerShare,Revenue,EBITDA,OperatingCashFlow,FreeCashFlow,NetDebt,BookEquity,NetIncome
0,22287209,IR,0,2024-03-27,95.26,QTR,403435985.00,403435985.00,38431313920.00,39559413920.00,...,0.18,0.00,0.08,6876101000.00,1542900000.00,1377400000.00,1272000000.00,1128100000.00,9783800000.00,778700000.00
1,21571,DGX,0,2018-06-05,106.72,QTR,135817201.00,135817201.00,14494411776.00,18229411776.00,...,0.53,0.02,1.85,7709000000.00,1434000000.00,1175000000.00,923000100.00,3647000000.00,4921000000.00,772000000.00
2,19096,AMT,0,2018-06-05,138.91,QTR,441659919.00,441659919.00,61350977536.00,81597577536.00,...,0.11,0.02,2.69,6663900000.00,3736300000.00,2925600000.00,2122000000.00,19403000000.00,6241500000.00,1238900000.00
3,21004,MAA,0,2018-06-05,95.29,QTR,113791411.00,113791411.00,10843183104.00,19731968104.00,...,0.28,0.04,3.58,3057974000.00,2996024000.00,1317026000.00,629246000.00,9119316000.00,19717060000.00,1702680000.00
4,21735,SRE,0,2018-06-05,102.81,QTR,264137837.00,264137837.00,27156011008.00,53316011008.00,...,0.36,0.03,3.21,9776000000.00,3681000000.00,3625000000.00,-324000000.00,19124000000.00,12670000000.00,256000000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465889,19689,COO,1,2017-07-11,244.53,QTR,48856777.00,48856777.00,11946947584.00,13212547584.00,...,NaN,NaN,NaN,NaN,519080000.00,509637000.00,NaN,1232931000.00,NaN,NaN
1465890,12028,DISH,1,2017-07-11,64.78,QTR,226812205.00,226812205.00,14692894720.00,29575029720.00,...,NaN,NaN,NaN,NaN,3312601000.00,2802152000.00,NaN,11155175000.00,NaN,NaN
1465891,19015,ALB,1,2017-07-11,112.95,QTR,110472735.00,110472735.00,12477895680.00,13199527680.00,...,0.21,0.01,1.27,2677203000.00,966107000.00,733403100.00,536749000.00,99506000.00,3795062000.00,643675000.00
1465892,19015,ALB,1,2022-02-28,195.89,QTR,117036615.00,117036615.00,22926303232.00,24881270232.00,...,0.15,0.01,1.56,3327957000.00,407118000.00,344257000.00,-609410000.00,1954967000.00,5625266000.00,123672000.00
1465893,21198,NBLRF,1,2022-03-01,8.70,QTR,60172000.00,60172000.00,523496384.00,1090358384.00,...,NaN,NaN,NaN,NaN,185622000.00,51616000.00,NaN,566862000.00,NaN,NaN

In [52]:
df2.to_csv('D:\\Michael\\Data\\ML new\\Fundamental SP500 merged.csv', index=False)

In [24]:
df2[df2.Ticker == 'AAPL'].to_csv('D:\\Michael\\Data\\ML new\\Fundamental aapl.csv', index=False)

In [27]:
df2.drop_duplicates(inplace=True)

In [43]:
target = pd.read_csv('D:\\Michael\\Data\\ML new\\target 6M.csv')
target

        Ticker  Date/Time  6MonthsGrowth
0         ABNB  9/25/2023              1
1         ABNB  9/26/2023              1
2         ABNB  9/27/2023              1
3         ABNB  9/28/2023              1
4         ABNB  9/29/2023              1
...        ...        ...            ...
1478077    ZTS  3/19/2024              0
1478078    ZTS  3/20/2024              0
1478079    ZTS  3/21/2024              0
1478080    ZTS  3/22/2024              0
1478081    ZTS  3/25/2024              0

[1478082 rows x 3 columns]

In [44]:
target['Date/Time'] = target['Date/Time'].astype('datetime64').dt.strftime('%Y-%m-%d')
target

        Ticker   Date/Time  6MonthsGrowth
0         ABNB  2023-09-25              1
1         ABNB  2023-09-26              1
2         ABNB  2023-09-27              1
3         ABNB  2023-09-28              1
4         ABNB  2023-09-29              1
...        ...         ...            ...
1478077    ZTS  2024-03-19              0
1478078    ZTS  2024-03-20              0
1478079    ZTS  2024-03-21              0
1478080    ZTS  2024-03-22              0
1478081    ZTS  2024-03-25              0

[1478082 rows x 3 columns]

In [45]:
target['merge'] = target['Ticker'] + target['Date/Time']
target

        Ticker   Date/Time  6MonthsGrowth           merge
0         ABNB  2023-09-25              1  ABNB2023-09-25
1         ABNB  2023-09-26              1  ABNB2023-09-26
2         ABNB  2023-09-27              1  ABNB2023-09-27
3         ABNB  2023-09-28              1  ABNB2023-09-28
4         ABNB  2023-09-29              1  ABNB2023-09-29
...        ...         ...            ...             ...
1478077    ZTS  2024-03-19              0   ZTS2024-03-19
1478078    ZTS  2024-03-20              0   ZTS2024-03-20
1478079    ZTS  2024-03-21              0   ZTS2024-03-21
1478080    ZTS  2024-03-22              0   ZTS2024-03-22
1478081    ZTS  2024-03-25              0   ZTS2024-03-25

[1478082 rows x 4 columns]

In [49]:
target.drop(columns=['Ticker', 'Date/Time'],inplace=True)

In [51]:
df2 = pd.read_csv('D:\\Michael\\Data\\ML new\\Fundamental SP500 merged.csv')
df2 = pd.merge(df2,target, how='left',on=['merge'])
df2.dropna(subset=['6MonthsGrowth'], inplace=True)
df2

,HDSymbolId,Ticker,IsDelisted,TradeDate,TradeClose,Name,TotalSharesOutstanding,AdjTotalSharesOutstanding,MarketCap,EnterpriseValue_x,...,DividendToPrice,DividendPerShare,Revenue,EBITDA,OperatingCashFlow,FreeCashFlow,NetDebt,BookEquity,NetIncome,6MonthsGrowth
1,21571,DGX,0,2018-06-05,106.72,QTR,135817201.00,135817201.00,14494411776.00,18229411776.00,...,0.02,1.85,7709000000.00,1434000000.00,1175000000.00,923000100.00,3647000000.00,4921000000.00,772000000.00,0.00
2,19096,AMT,0,2018-06-05,138.91,QTR,441659919.00,441659919.00,61350977536.00,81597577536.00,...,0.02,2.69,6663900000.00,3736300000.00,2925600000.00,2122000000.00,19403000000.00,6241500000.00,1238900000.00,1.00
3,21004,MAA,0,2018-06-05,95.29,QTR,113791411.00,113791411.00,10843183104.00,19731968104.00,...,0.04,3.58,3057974000.00,2996024000.00,1317026000.00,629246000.00,9119316000.00,19717060000.00,1702680000.00,1.00
4,21735,SRE,0,2018-06-05,102.81,QTR,264137837.00,264137837.00,27156011008.00,53316011008.00,...,0.03,3.21,9776000000.00,3681000000.00,3625000000.00,-324000000.00,19124000000.00,12670000000.00,256000000.00,1.00
5,19776,DAL,0,2018-06-05,54.67,QTR,702478205.00,702478205.00,38404481024.00,45606481024.00,...,0.02,1.24,41244000000.00,8332000000.00,5148000000.00,1257000000.00,7020000000.00,13910000000.00,3577000000.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465888,22361,WOR,1,2017-07-11,51.96,QTR,63250653.00,63250653.00,3286503936.00,3587032936.00,...,NaN,NaN,NaN,400294000.00,335672000.00,NaN,300529000.00,NaN,NaN,0.00
1465889,19689,COO,1,2017-07-11,244.53,QTR,48856777.00,48856777.00,11946947584.00,13212547584.00,...,NaN,NaN,NaN,519080000.00,509637000.00,NaN,1232931000.00,NaN,NaN,0.00
1465890,12028,DISH,1,2017-07-11,64.78,QTR,226812205.00,226812205.00,14692894720.00,29575029720.00,...,NaN,NaN,NaN,3312601000.00,2802152000.00,NaN,11155175000.00,NaN,NaN,0.00
1465891,19015,ALB,1,2017-07-11,112.95,QTR,110472735.00,110472735.00,12477895680.00,13199527680.00,...,0.01,1.27,2677203000.00,966107000.00,733403100.00,536749000.00,99506000.00,3795062000.00,643675000.00,1.00
1465892,19015,ALB,1,2022-02-28,195.89,QTR,117036615.00,117036615.00,22926303232.00,24881270232.00,...,0.01,1.56,3327957000.00,407118000.00,344257000.00,-609410000.00,1954967000.00,5625266000.00,123672000.00,1.00

In [53]:
dfqtr = pd.merge(dfqtr,target, how='left',on=['merge'])
dfqtr.dropna(subset=['6MonthsGrowth'], inplace=True)
dfqtr.to_csv('D:\\Michael\\Data\\ML new\\Fundamental SP500 QTR.csv', index=False)
dfqtr

,HDSymbolId,Ticker,IsDelisted,TradeDate,TradeClose,Name,TotalSharesOutstanding,AdjTotalSharesOutstanding,MarketCap,EnterpriseValue,...,DividendPerShare,Revenue,EBITDA,OperatingCashFlow,FreeCashFlow,NetDebt,BookEquity,NetIncome,merge,6MonthsGrowth
1,21571,DGX,0,2018-06-05,106.72,QTR,135817201.00,135817201.00,14494411776.00,18229411776.00,...,0.50,1884000000.00,344000000.00,180000000.00,107000000.00,3735000000.00,5030000000.00,177000000.00,DGX2018-06-05,0.00
2,19096,AMT,0,2018-06-05,138.91,QTR,441659919.00,441659919.00,61350977536.00,81597577536.00,...,0.75,1741800000.00,900300000.00,791799900.00,593300000.00,20246600000.00,6334200000.00,285200000.00,AMT2018-06-05,1.00
3,21004,MAA,0,2018-06-05,95.29,QTR,113791411.00,113791411.00,10843183104.00,19731968104.00,...,0.92,1158051000.00,372271000.00,305408000.00,201858000.00,8888785000.00,6291242000.00,49019000.00,MAA2018-06-05,1.00
4,21735,SRE,0,2018-06-05,102.81,QTR,264137837.00,264137837.00,27156011008.00,53316011008.00,...,0.87,2598000000.00,1249000000.00,966000000.00,-69000000.00,26160000000.00,15844000000.00,358000000.00,SRE2018-06-05,1.00
5,19776,DAL,0,2018-06-05,54.67,QTR,702478205.00,702478205.00,38404481024.00,45606481024.00,...,0.30,9968000000.00,1430000000.00,1343000000.00,78000000.00,7202000000.00,12557000000.00,547000000.00,DAL2018-06-05,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465888,22361,WOR,1,2017-07-11,51.96,QTR,63250653.00,63250653.00,3286503936.00,3587032936.00,...,NaN,NaN,115362000.00,80762000.00,NaN,300529000.00,NaN,NaN,WOR2017-07-11,0.00
1465889,19689,COO,1,2017-07-11,244.53,QTR,48856777.00,48856777.00,11946947584.00,13212547584.00,...,NaN,NaN,163400000.00,131700000.00,NaN,1265600000.00,NaN,NaN,COO2017-07-11,0.00
1465890,12028,DISH,1,2017-07-11,64.78,QTR,226812205.00,226812205.00,14692894720.00,29575029720.00,...,NaN,NaN,479388000.00,556329100.00,NaN,14882135000.00,NaN,NaN,DISH2017-07-11,0.00
1465891,19015,ALB,1,2017-07-11,112.95,QTR,110472735.00,110472735.00,12477895680.00,13199527680.00,...,0.32,737258000.00,175585000.00,-137040000.00,-180662000.00,721632000.00,3760830000.00,103333000.00,ALB2017-07-11,1.00
1465892,19015,ALB,1,2022-02-28,195.89,QTR,117036615.00,117036615.00,22926303232.00,24881270232.00,...,0.39,894204000.00,79435000.00,-146329000.00,-447257000.00,1954967000.00,5625266000.00,-3824000.00,ALB2022-02-28,1.00

In [58]:
dfttm = pd.merge(dfttm,target, how='left',on=['merge'])
dfttm.dropna(subset=['6MonthsGrowth'], inplace=True)
dfttm.to_csv('D:\\Michael\\Data\\ML new\\Fundamental SP500 TTM.csv', index=False)
dfttm

,HDSymbolId,Ticker,IsDelisted,TradeDate,TradeClose,Name,TotalSharesOutstanding,AdjTotalSharesOutstanding,MarketCap,EnterpriseValue,...,DividendPerShare,Revenue,EBITDA,OperatingCashFlow,FreeCashFlow,NetDebt,BookEquity,NetIncome,merge,6MonthsGrowth
0,18216,UAL,0,2018-06-05,69.32,TTM,279410451.00,279410451.00,19368732672.00,30785732672.00,...,NaN,38348000000.00,5956000000.00,4599000000.00,313000000.00,11417000000.00,8336000000.00,2182000000.00,UAL2018-06-05,1.00
2,19607,CLX,0,2018-06-05,121.40,TTM,129507979.00,129507979.00,15722268672.00,17403268672.00,...,3.47,6080000000.00,1288000000.00,960000000.00,764000000.00,1681000000.00,837000000.00,807000000.00,CLX2018-06-05,1.00
4,19985,ESS,0,2018-06-05,240.92,TTM,66046207.00,66046207.00,15911852032.00,21508868032.00,...,7.10,1375750000.00,1194544000.00,811236000.00,790086000.00,5597016000.00,6368773000.00,350734000.00,ESS2018-06-05,1.00
5,20257,GPN,0,2018-06-05,115.07,TTM,159544874.00,159544874.00,18358829056.00,22084953056.00,...,0.04,3850378000.00,942317000.00,502964000.00,323503000.00,3726124000.00,3951606000.00,511011000.00,GPN2018-06-05,0.00
6,21174,NWL,0,2018-06-05,23.58,TTM,485700000.00,485700000.00,11452806144.00,22149906144.00,...,0.92,14493300000.00,1255700000.00,819500100.00,418900000.00,10697100000.00,14130900000.00,2163600000.00,NWL2018-06-05,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465888,19689,COO,1,2017-07-11,244.53,TTM,48856777.00,48856777.00,11946947584.00,13212547584.00,...,NaN,NaN,570733000.00,562350000.00,NaN,1265600000.00,NaN,NaN,COO2017-07-11,0.00
1465889,20338,PEAK,1,2017-07-11,30.95,TTM,468963146.00,468963146.00,14514409472.00,21388938472.00,...,NaN,NaN,1572947000.00,978807900.00,NaN,6874529000.00,NaN,NaN,PEAK2017-07-11,0.00
1465890,22361,WOR,1,2017-07-11,51.96,TTM,63250653.00,63250653.00,3286503936.00,3587032936.00,...,NaN,NaN,400294000.00,335672000.00,NaN,300529000.00,NaN,NaN,WOR2017-07-11,0.00
1465891,12028,DISH,1,2017-07-11,64.78,TTM,226812205.00,226812205.00,14692894720.00,29575029720.00,...,NaN,NaN,2841816000.00,2742157000.00,NaN,14882135000.00,NaN,NaN,DISH2017-07-11,0.00
1465892,19015,ALB,1,2017-07-11,112.95,TTM,110472735.00,110472735.00,12477895680.00,13199527680.00,...,1.27,2601799000.00,1153435000.00,426447000.00,231537000.00,721632000.00,3760830000.00,884856000.00,ALB2017-07-11,1.00

In [59]:
dfann = pd.merge(dfann,target, how='left',on=['merge'])
dfann.dropna(subset=['6MonthsGrowth'], inplace=True)
dfann.to_csv('D:\\Michael\\Data\\ML new\\Fundamental SP500 ANN.csv', index=False)
dfann

,HDSymbolId,Ticker,IsDelisted,TradeDate,TradeClose,Name,TotalSharesOutstanding,AdjTotalSharesOutstanding,MarketCap,EnterpriseValue,...,DividendPerShare,Revenue,EBITDA,OperatingCashFlow,FreeCashFlow,NetDebt,BookEquity,NetIncome,merge,6MonthsGrowth
1,19607,CLX,0,2018-06-05,121.40,ANN,129507979.00,129507979.00,15722268672.00,17499268672.00,...,3.47,5973000000.00,1282000000.00,868000000.00,637000000.00,1777000000.00,542000000.00,701000000.00,CLX2018-06-05,1.00
2,21550,PSA,0,2018-06-05,212.88,ANN,174215770.00,174215770.00,37087055872.00,38085001872.00,...,6.00,2668528000.00,1909433000.00,1975679000.00,1853480000.00,997946000.00,8940009000.00,1442217000.00,PSA2018-06-05,1.00
3,22290,WDC,0,2018-06-05,85.90,ANN,299242061.00,299242061.00,25704892416.00,32501892416.00,...,1.97,19093000000.00,3744000000.00,3437000000.00,2859000000.00,6797000000.00,11418000000.00,397000000.00,WDC2018-06-05,0.00
5,18055,TSCO,0,2018-06-05,75.83,ANN,122050289.00,122050289.00,9255073792.00,9546994792.00,...,1.14,7256382000.00,852216000.00,631450000.00,381049000.00,291921000.00,1418673000.00,422599000.00,TSCO2018-06-05,1.00
6,22111,UIS,0,2018-06-05,12.65,ANN,50964531.00,50964531.00,644701312.00,555501312.00,...,NaN,2741800000.00,43800000.00,166400000.00,140600000.00,-89200000.00,-1354700000.00,-66600000.00,UIS2018-06-05,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465888,19689,COO,1,2017-07-11,244.53,ANN,48856777.00,48856777.00,11946947584.00,13179878584.00,...,NaN,NaN,519080000.00,509637000.00,NaN,1232931000.00,NaN,NaN,COO2017-07-11,0.00
1465889,22361,WOR,1,2017-07-11,51.96,ANN,63250653.00,63250653.00,3286503936.00,3587032936.00,...,NaN,NaN,400294000.00,335672000.00,NaN,300529000.00,NaN,NaN,WOR2017-07-11,0.00
1465890,12028,DISH,1,2017-07-11,64.78,ANN,226812205.00,226812205.00,14692894720.00,25848069720.00,...,NaN,NaN,3312601000.00,2802152000.00,NaN,11155175000.00,NaN,NaN,DISH2017-07-11,0.00
1465891,20338,PEAK,1,2017-07-11,30.95,ANN,468963146.00,468963146.00,14514409472.00,23169112472.00,...,NaN,NaN,1664731000.00,1214131000.00,NaN,8654703000.00,NaN,NaN,PEAK2017-07-11,0.00
1465892,19015,ALB,1,2017-07-11,112.95,ANN,110472735.00,110472735.00,12477895680.00,12577401680.00,...,1.27,2677203000.00,966107000.00,733403100.00,536749000.00,99506000.00,3795062000.00,643675000.00,ALB2017-07-11,1.00

In [62]:
!pip install ydata-profiling --user

Collecting ydata-profiling
  Using cached ydata_profiling-4.7.0-py2.py3-none-any.whl (357 kB)
Requirement already satisfied: scipy<1.12,>=1.4.1 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from ydata-profiling) (1.7.1)
Collecting wordcloud>=1.9.1
  Using cached wordcloud-1.9.3-cp39-cp39-win_amd64.whl (300 kB)
Collecting htmlmin==0.1.12
  Using cached htmlmin-0.1.12-py3-none-any.whl
Collecting statsmodels<1,>=0.13.2
  Using cached statsmodels-0.14.1-cp39-cp39-win_amd64.whl (10.0 MB)
Collecting typeguard<5,>=4.1.2
  Using cached typeguard-4.2.1-py3-none-any.whl (34 kB)
Collecting dacite>=1.8
  Using cached dacite-1.8.1-py3-none-any.whl (14 kB)
Collecting numba<1,>=0.56.0
  Using cached numba-0.59.1-cp39-cp39-win_amd64.whl (2.6 MB)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from ydata-profiling) (1.3.4)
Collecting pydantic>=2
  Using cached pydantic-2.6.4-py3-none-any.whl (394 kB)
Collecting multimethod<2,>=1.4
  Using cached multimethod-1.11.2-py3-none-any.whl (10 kB)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from ydata-profiling) (0.11.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from ydata-profiling) (2.11.3)
Collecting visions[type_image_path]<0.7.7,>=0.7.5
  Using cached visions-0.7.6-py3-none-any.whl (104 kB)
Collecting phik<0.13,>=0.11.1
  Using cached phik-0.12.4-cp39-cp39-win_amd64.whl (666 kB)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from ydata-profiling) (6.0)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from ydata-profiling) (2.26.0)
Collecting imagehash==4.3.1
  Using cached ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
Requirement already satisfied: matplotlib<3.9,>=3.2 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from ydata-profiling) (3.4.3)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from ydata-profiling) (4.62.3)
Requirement already satisfied: numpy<2,>=1.16.0 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from ydata-profiling) (1.22.4)
Requirement already satisfied: PyWavelets in c:\users\m.astoshonok\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.1.1)
Requirement already satisfied: pillow in c:\users\m.astoshonok\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (8.4.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (1.1.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (3.0.4)
Requirement already satisfied: six in c:\users\m.astoshonok\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib<3.9,>=3.2->ydata-profiling) (1.16.0)
Collecting llvmlite<0.43,>=0.42.0dev0
  Using cached llvmlite-0.42.0-cp39-cp39-win_amd64.whl (28.1 MB)
Requirement already satisfied: pytz>=2017.3 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2021.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.1.0)
Collecting pydantic-core==2.16.3
  Using cached pydantic_core-2.16.3-cp39-none-win_amd64.whl (1.9 MB)
Collecting annotated-types>=0.4.0
  Using cached annotated_types-0.6.0-py3-none-any.whl (12 kB)
Collecting typing-extensions>=4.6.1
  Using cached typing_extensions-4.10.0-py3-none-any.whl (33 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.2)
Collecting packaging>=21.3
  Using cached packaging-24.0-py3-none-any.whl (53 kB)
Collecting patsy>=0.5.4
  Using cached patsy-0.5.6-py2.py3-none-any.whl (233 kB)
Requirement already satisfied: colorama in c:\users\m.astoshonok\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.4)
Requirement already satisfied: importlib-metadata>=3.6 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from typeguard<5,>=4.1.2->ydata-profiling) (4.8.1)
Requirement already satisfied: zipp>=0.5 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from importlib-metadata>=3.6->typeguard<5,>=4.1.2->ydata-profiling) (3.6.0)
Collecting pandas!=1.4.0,<3,>1.1
  Using cached pandas-2.2.1-cp39-cp39-win_amd64.whl (11.6 MB)
Requirement already satisfied: networkx>=2.4 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (2.6.3)
Collecting visions[type_image_path]<0.7.7,>=0.7.5
  Using cached visions-0.7.5-py3-none-any.whl (102 kB)
Collecting tangled-up-in-unicode>=0.0.4
  Using cached tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
Requirement already satisfied: attrs>=19.3.0 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (21.2.0)
Installing collected packages: typing-extensions, tangled-up-in-unicode, multimethod, visions, pydantic-core, patsy, packaging, llvmlite, imagehash, annotated-types, wordcloud, typeguard, statsmodels, pydantic, phik, numba, htmlmin, dacite, ydata-profiling
Successfully installed annotated-types-0.6.0 dacite-1.8.1 htmlmin-0.1.12 imagehash-4.3.1 llvmlite-0.42.0 multimethod-1.11.2 numba-0.59.1 packaging-24.0 patsy-0.5.6 phik-0.12.4 pydantic-2.6.4 pydantic-core-2.16.3 statsmodels-0.14.1 tangled-up-in-unicode-0.2.0 typeguard-4.2.1 typing-extensions-4.10.0 visions-0.7.5 wordcloud-1.9.3 ydata-profiling-4.7.0

  WARNING: The script wordcloud_cli.exe is installed in 'C:\Users\m.astoshonok\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script htmlmin.exe is installed in 'C:\Users\m.astoshonok\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The scripts pandas_profiling.exe and ydata_profiling.exe are installed in 'C:\Users\m.astoshonok\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [63]:
import os
import sys
os.path.dirname(sys.executable)

'C:\\Users\\m.astoshonok\\Anaconda3'

In [3]:
pip install numba --upgrade

Requirement already satisfied: numba in c:\users\m.astoshonok\appdata\roaming\python\python39\site-packages (0.59.1)
Requirement already satisfied: numpy<1.27,>=1.22 in c:\users\m.astoshonok\anaconda3\lib\site-packages (from numba) (1.22.4)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in c:\users\m.astoshonok\appdata\roaming\python\python39\site-packages (from numba) (0.42.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install -U ydata-profiling

Collecting ydata-profiling
  Downloading ydata_profiling-4.7.0-py2.py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: scipy<1.12,>=1.4.1 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (1.11.4)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (2.1.4)
Requirement already satisfied: matplotlib<3.9,>=3.2 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (3.8.0)
Collecting pydantic>=2 (from ydata-profiling)
  Downloading pydantic-2.6.4-py3-none-any.whl.metadata (85 kB)
     ---------------------------------------- 0.0/85.1 kB ? eta -:--:--
     ------------------ ------------------- 41.0/85.1 kB 960.0 kB/s eta 0:00:01
     ---------------------------------------- 85.1/85.1 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (3.1.3)
Collecting visions<0.7.7,>=0.7.5 (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling)
  Downloading visions-0.7.6-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: numpy<2,>=1.16.0 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (1.26.4)
Collecting htmlmin==0.1.12 (from ydata-profiling)
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting phik<0.13,>=0.11.1 (from ydata-profiling)
  Downloading phik-0.12.4-cp311-cp311-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (4.65.0)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (0.12.2)
Collecting multimethod<2,>=1.4 (from ydata-profiling)
  Downloading multimethod-1.11.2-py3-none-any.whl.metadata (9.1 kB)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (0.14.0)
Collecting typeguard<5,>=4.1.2 (from ydata-profiling)
  Downloading typeguard-4.2.1-py3-none-any.whl.metadata (3.7 kB)
Collecting imagehash==4.3.1 (from ydata-profiling)
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl.metadata (8.0 kB)
Collecting wordcloud>=1.9.1 (from ydata-profiling)
  Downloading wordcloud-1.9.3-cp311-cp311-win_amd64.whl.metadata (3.5 kB)
Collecting dacite>=1.8 (from ydata-profiling)
  Downloading dacite-1.8.1-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: numba<1,>=0.56.0 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (0.59.0)
Requirement already satisfied: PyWavelets in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.5.0)
Requirement already satisfied: pillow in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (10.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (2.8.2)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from numba<1,>=0.56.0->ydata-profiling) (0.42.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.2.0)
Collecting annotated-types>=0.4.0 (from pydantic>=2->ydata-profiling)
  Downloading annotated_types-0.6.0-py3-none-any.whl.metadata (12 kB)
Collecting pydantic-core==2.16.3 (from pydantic>=2->ydata-profiling)
  Downloading pydantic_core-2.16.3-cp311-none-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (4.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2024.2.2)
Requirement already satisfied: patsy>=0.5.2 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.3)
Requirement already satisfied: colorama in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.6)
Collecting typing-extensions>=4.6.1 (from pydantic>=2->ydata-profiling)
  Downloading typing_extensions-4.10.0-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: attrs>=19.3.0 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (3.1)
Requirement already satisfied: six in c:\users\m.astoshonok\appdata\local\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata-profiling) (1.16.0)
Downloading ydata_profiling-4.7.0-py2.py3-none-any.whl (357 kB)
   ---------------------------------------- 0.0/357.9 kB ? eta -:--:--
   ------------ --------------------------- 112.6/357.9 kB 6.8 MB/s eta 0:00:01
   ---------------------------------------- 357.9/357.9 kB 5.6 MB/s eta 0:00:00
Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
   ---------------------------------------- 0.0/296.5 kB ? eta -:--:--
   ------------------------------ -------- 235.5/296.5 kB 14.1 MB/s eta 0:00:01
   ---------------------------------------- 296.5/296.5 kB 6.1 MB/s eta 0:00:00
Downloading dacite-1.8.1-py3-none-any.whl (14 kB)
Downloading multimethod-1.11.2-py3-none-any.whl (10 kB)
Downloading phik-0.12.4-cp311-cp311-win_amd64.whl (667 kB)
   ---------------------------------------- 0.0/667.1 kB ? eta -:--:--
   ------------------------------- ------- 542.7/667.1 kB 33.3 MB/s eta 0:00:01
   --------------------------------------- 667.1/667.1 kB 14.0 MB/s eta 0:00:00
Downloading pydantic-2.6.4-py3-none-any.whl (394 kB)
   ---------------------------------------- 0.0/394.9 kB ? eta -:--:--
   --------------------------------------- 394.9/394.9 kB 24.0 MB/s eta 0:00:00
Downloading pydantic_core-2.16.3-cp311-none-win_amd64.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ------------------------------- -------- 1.5/1.9 MB 32.3 MB/s eta 0:00:01
   ---------------------------------------- 1.9/1.9 MB 30.2 MB/s eta 0:00:00
Downloading typeguard-4.2.1-py3-none-any.whl (34 kB)
Downloading visions-0.7.6-py3-none-any.whl (104 kB)
   ---------------------------------------- 0.0/104.8 kB ? eta -:--:--
   ---------------------------------------- 104.8/104.8 kB 6.3 MB/s eta 0:00:00
Downloading wordcloud-1.9.3-cp311-cp311-win_amd64.whl (300 kB)
   ---------------------------------------- 0.0/300.2 kB ? eta -:--:--
   --------------------------------------- 300.2/300.2 kB 18.1 MB/s eta 0:00:00
Downloading annotated_types-0.6.0-py3-none-any.whl (12 kB)
Downloading typing_extensions-4.10.0-py3-none-any.whl (33 kB)
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (setup.py): started
  Building wheel for htmlmin (setup.py): finished with status 'done'
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27091 sha256=eecbfb68e1ececa5b7e466ba8fffc5f3839bbba0bbd9a9cae8b486beaf901be6
  Stored in directory: c:\users\m.astoshonok\appdata\local\pip\cache\wheels\8d\55\1a\19cd535375ed1ede0c996405ebffe34b196d78e2d9545723a2
Successfully built htmlmin
Installing collected packages: htmlmin, typing-extensions, multimethod, dacite, annotated-types, typeguard, pydantic-core, imagehash, wordcloud, visions, pydantic, phik, ydata-profiling
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.9.0
    Uninstalling typing_extensions-4.9.0:
      Successfully uninstalled typing_extensions-4.9.0
  Attempting uninstall: pydantic
    Found existing installation: pydantic 1.10.12
    Uninstalling pydantic-1.10.12:
      Successfully uninstalled pydantic-1.10.12
Successfully installed annotated-types-0.6.0 dacite-1.8.1 htmlmin-0.1.12 imagehash-4.3.1 multimethod-1.11.2 phik-0.12.4 pydantic-2.6.4 pydantic-core-2.16.3 typeguard-4.2.1 typing-extensions-4.10.0 visions-0.7.6 wordcloud-1.9.3 ydata-profiling-4.7.0
Note: you may need to restart the kernel to use updated packages.

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\m.astoshonok\AppData\Local\anaconda3\Lib\site-packages\~ydantic'.
  You can safely remove it manually.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
anaconda-cloud-auth 0.1.4 requires pydantic<2.0, but you have pydantic 2.6.4 which is incompatible.

In [2]:
from ydata_profiling import ProfileReport

In [3]:
df = pd.read_csv('D:\\Michael\\Data\\ML new\\Fundamental SP500 QTR.csv')
df

,HDSymbolId,Ticker,IsDelisted,TradeDate,TradeClose,Name,TotalSharesOutstanding,AdjTotalSharesOutstanding,MarketCap,EnterpriseValue,...,DividendPerShare,Revenue,EBITDA,OperatingCashFlow,FreeCashFlow,NetDebt,BookEquity,NetIncome,merge,6MonthsGrowth
0,21571,DGX,0,2018-06-05,106.72,QTR,135817201.00,135817201.00,14494411776.00,18229411776.00,...,0.50,1884000000.00,344000000.00,180000000.00,107000000.00,3735000000.00,5030000000.00,177000000.00,DGX2018-06-05,0.00
1,19096,AMT,0,2018-06-05,138.91,QTR,441659919.00,441659919.00,61350977536.00,81597577536.00,...,0.75,1741800000.00,900300000.00,791799900.00,593300000.00,20246600000.00,6334200000.00,285200000.00,AMT2018-06-05,1.00
2,21004,MAA,0,2018-06-05,95.29,QTR,113791411.00,113791411.00,10843183104.00,19731968104.00,...,0.92,1158051000.00,372271000.00,305408000.00,201858000.00,8888785000.00,6291242000.00,49019000.00,MAA2018-06-05,1.00
3,21735,SRE,0,2018-06-05,102.81,QTR,264137837.00,264137837.00,27156011008.00,53316011008.00,...,0.87,2598000000.00,1249000000.00,966000000.00,-69000000.00,26160000000.00,15844000000.00,358000000.00,SRE2018-06-05,1.00
4,19776,DAL,0,2018-06-05,54.67,QTR,702478205.00,702478205.00,38404481024.00,45606481024.00,...,0.30,9968000000.00,1430000000.00,1343000000.00,78000000.00,7202000000.00,12557000000.00,547000000.00,DAL2018-06-05,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243564,22361,WOR,1,2017-07-11,51.96,QTR,63250653.00,63250653.00,3286503936.00,3587032936.00,...,NaN,NaN,115362000.00,80762000.00,NaN,300529000.00,NaN,NaN,WOR2017-07-11,0.00
1243565,19689,COO,1,2017-07-11,244.53,QTR,48856777.00,48856777.00,11946947584.00,13212547584.00,...,NaN,NaN,163400000.00,131700000.00,NaN,1265600000.00,NaN,NaN,COO2017-07-11,0.00
1243566,12028,DISH,1,2017-07-11,64.78,QTR,226812205.00,226812205.00,14692894720.00,29575029720.00,...,NaN,NaN,479388000.00,556329100.00,NaN,14882135000.00,NaN,NaN,DISH2017-07-11,0.00
1243567,19015,ALB,1,2017-07-11,112.95,QTR,110472735.00,110472735.00,12477895680.00,13199527680.00,...,0.32,737258000.00,175585000.00,-137040000.00,-180662000.00,721632000.00,3760830000.00,103333000.00,ALB2017-07-11,1.00
1243568,19015,ALB,1,2022-02-28,195.89,QTR,117036615.00,117036615.00,22926303232.00,24881270232.00,...,0.39,894204000.00,79435000.00,-146329000.00,-447257000.00,1954967000.00,5625266000.00,-3824000.00,ALB2022-02-28,1.00

In [4]:
profile = ProfileReport(df, title='Profile Report Fundamental Data QTR', explorative=True)

In [7]:
del df